@import '../index.css';

.anix-fade-out-scale {
    animation: fadeOutScale 1s var(--animation-timing-function) backwards;
}

@keyframes fadeOutScale {
    from  {
        opacity: 1;
        transform: scale(1);
    }
    to  {
        opacity: 0;
        transform: scale(1.5);
    }
}