@import '../index.css';

.anix-bounce-in-down {
    animation: bounceInDown 0.9s ease-in both;
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    60% {
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
