@import '../index.css';

.anix-swipe-reveal {
  animation: swipeReveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  transform-origin: left;
}

@keyframes swipeReveal {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
