@import '../index.css';

.anix-fade-out-down {
    animation: fadeOutDown 1s var(--animation-timing-function) backwards;
}

@keyframes fadeOutDown {
    from  {
        opacity: 1;
        transform: translateY(0);
    }
    to  {
        opacity: 0;
        transform: translateY(50px);
    }
}