@import '../index.css';

.anix-fade-out-right {
    animation: fadeOutRight 1s var(--animation-timing-function) backwards;
}

@keyframes fadeOutRight {
    from  {
        opacity: 1;
        transform: translateX(0);
    }
    to  {
        opacity: 0;
        transform: translateX(50px);
    }
}