:root {
    --animation-timing-function : cubic-bezier(0.25, 0.1, 0.25, 1);
    --animation-timing-function-scale: cubic-bezier(0.25, 1, 0.5, 1);
    --animation-timing-function-rot-flp: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --animation-timing-function-bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}