@import '../index.css';

.anix-fade-out-up {
    animation: fadeOutUp 1s var(--animation-timing-function) backwards;
}

@keyframes fadeOutUp {
    from  {
        opacity: 1;
        transform: translateY(0);
    }
    to  {
        opacity: 0;
        transform: translateY(-50px);
    }
}