@import '../index.css';

.anix-bounce {
  animation: anixBounce 1s var(--animation-timing-function-bounce) both;
}

@keyframes anixBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
