@import '../index.css';

.anix-shake-y {
  animation: anixShakeY 0.8s ease-in-out both;
}

@keyframes anixShakeY {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}
