@import '../index.css';

.anix-shrink-out {
    animation: shrinkOut 0.7s cubic-bezier(0.4, 0, 0.2, 1) backwards;
}

@keyframes shrinkOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(0) scaleY(0);
    }
}